
class.fa {
  padding: 20px;
  font-size: 36px;
  float: right;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

class.fa:hover {
    opacity: 0.7;
}

class.fa-facebook {
  background: #00aff0;
  color: white;
}

class.fa-twitter {
  background: #212121;
  color: white;
}

class.fa-linkedin {
  background: #212121;
  color: white;
}

class.fa-youtube {
  background: #212121;
  color: white;
}
